*{
    box-sizing: border-box;
    font-family: var(--fontall); 
    max-width: 1380px;
    
}
:root{

  /*Font*/
  --fontall: 'Roboto', sans-serif;
  --fontlg: 'Shrikhand' , cursive;

  /*color*/
  --primary: #9356DC;
  --secon: #FF79DA;
  --tert: #99E2D0;

  --greybg: #f5f6fa;
 
}


body{
    background-color:  var(--greybg);  
    font-family: var(--fontall); 
    margin: 0;
    max-width: 1300px;
    min-width: 560px;

}


* a {
  text-decoration: none;
  color: white;
}
/* Main*/

.main {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*.loader {
  height: 100%;
  background: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  -webkit-animation: loader 2s linear;
          animation: loader 2s linear;
  visibility: hidden;
}*/
/*.loader__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 10px solid transparent;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: loader-border 2s linear;
          animation: loader-border 2s linear;
  z-index: 10;
  visibility: hidden;
}

.loader__center {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #99E2D0;
}*/
/*Header*/
.header {
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
}

.head-lg {
  font-family: 'Shrikhand', cursive;
  margin: 0;
  color: black;
}
/*Localisation*/

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f3f3f3;
  color: #7a7a7a;
}

.loc-street {
  margin-left: 13px;
  font-weight: 400;
}
/*HERO*/
.hero {
  background: #fafafa;
  width: 100%;
}

.hero__container {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

.hero__title {
  text-align: center;
  max-width: 250px;
  margin: 0;
}

.hero__text {
  text-align: center;
}

.hero__button {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.hero__button:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
/*Fonctionnement*/
.fonctionnement__contain {
  padding: 25px 0;
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionnement {
  width: 95%;
  max-width: 1200px;
  background-color: white;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionnement__title {
  margin: 0;
}

.fonctionnement__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  margin: 10px 20px;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}

.fonctionnement__step:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background: white;
}

.fonctionnement__number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.fonctionnement__icon {
  color: #7E7E7E;
  margin: 0 20px;
}

.fonctionnement__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*Restaurants*/
.restaurants {
  margin: 0;
  background: #f6f6f6;
  padding: 20px;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.restaurant__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr [4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
  left: 50%;
  right: 50%;
}

.restaurant__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  border-radius: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.restaurant__card-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background: #99e2d0;
  top: 20px;
  right: 20px;
}

.restaurant__card-new p {
  color: #1b6150;
  padding: 10px 20px;
  margin: 0;
}

.restaurant__card:hover {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
          box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
}

.restaurant__card-image {
  width: 100%;
  height: 190px;
}

.restaurant__card-image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.restaurant__block {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 0 0 20px 20px;
}

.restaurant__block-info {
  color: black;
  margin-left: 20px;
}

.restaurant__block-info > :first-child {
  font-weight: 700;
}

.restaurant__block-hearth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  width: 30px;
}

.restaurant__block .heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}

.restaurant__block .heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}

.restaurant__block .heart-empty {
  width: 50px;
  position: relative;
}

.restaurant__block .heart-empty:hover {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*FOOTER*/
footer {
  background-color: #2c3e50;
  padding: 32px 16px;
  color: #fff;
}
.container-footer {
  display: flex;
  max-width: 1330px;
  margin: auto;
  font-family: "Raleway", sans-serif;
  gap: 16px;
}
.card-footer {
  display: flex;
  flex-direction: column;
  min-width: 30%;
}

.card-footer a {
  margin-top: 5px;
  margin-bottom: 16px;
  text-decoration: none;
  color: inherit;
}

.card-footer a:hover {
  text-decoration: underline !important;
}
/*responsive*/
@media screen and (min-width: 800px) {
  .restaurant__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .process__step {
    width: 100%;
  }
  .process__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  /*@keyframes loader {
    0% {
      visibility: visible;
      opacity: 0.9;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @-webkit-keyframes loader-border {
    0% {
      visibility: visible;
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes loader-border {
    0% {
      visibility: visible;
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
      visibility: hidden;
    }
  }*/