*{
    box-sizing: border-box;
    font-family: var(--fontall); 
    max-width: 1380px;
    
}
:root{

  /*Font*/
  --fontall: 'Roboto', sans-serif;
  --fontlg: 'Shrikhand' , cursive;

  /*color*/
  --primary: #9356DC;
  --secon: #FF79DA;
  --tert: #99E2D0;

  --greybg: #f5f6fa;
 
}


body{
    background-color:  var(--greybg);  
    font-family: var(--fontall); 
}

/* Nav*/
.nav{
  display: flex;
  height: 130px;
  width: 100%;
  background-color: #fff;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-bottom: 10px;
}
/*Logo*/
.logo{
  position: relative;
  align-items: center;
  align-content: center;
  text-align: center; 
  margin-right: auto;
  margin-left: auto;
}
.logo img{
  height: 70px;
  width: 250px;
}
/*Header*/
header{
  position: absolute;
  height: 300px;
  width: 100%;
  background-color: #f5f6fa;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: -30px;
}
/*Location*/
.location{
  position: flex;
  background-color: #dcdde1;
  height: 40px;
  margin-top: -8px;
  align-items: center;
  align-content: center;
  text-align: center; 
}
.location .villeloca{
  position: absolute;
  align-items: center;
  align-content: center;
  text-align: center; 
  left: 30%;
}

/*Head-Cont*/

.head-cont h2{
  font-size: 25px;
  font-weight: bold;

}
.head-cont p{
  font-size: 18px;
  font-weight: 400;

}
/*Btn-nav*/
.btn-nav{
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  transition: 0.5s;
  background: rgb(147,86,220);
  background: radial-gradient(circle, rgba(147,86,220,1) 10%, rgba(252,124,218,1) 69%);
  z-index: -1;
  transition: transform 400ms ease-in;
  color: #fff;
  width: 250px;
  height: 50px;
  overflow: hidden;
  text-decoration: none;
  border-radius: 12px;
 font-weight: 500;

}
/*Fonctionnement*/
.cont-fonc{
  position: relative;
  background-color: #fff;
  height: 300px;
  margin-top: 270px;
  border-radius: 5px;
}


/* Content Article */
.cont-art{
  background-color: #f5f6fa;
  padding: 32px 16px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  left: 10px;
}
.cont-art h2 {
  grid-column: 1/-1;
  margin: 0;
}
.cont-art .resto-card{
  background: white;
  padding: 6px;
  border-radius: 16px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  transition: 0.2s;
  width: calc(100% - 16px);
}
.cont-art .resto-card img {
  width: 255px;
  border-radius: 16px 16px 0 0;
  height: 112px;
  object-fit: cover;
  width: 100%;
}
.cont-art .resto-card a {
  text-decoration: none;
  color: inherit;
}

.cont-art .resto-card h3 {
  margin: 8px 8px 8px;
}

.cont-art .resto-card p {
  margin: 8px 8px 8px;
}

.cont-art .resto-card .stars {
  margin: 8px 8px 8px;
  color: #0065fc;
}
.cont-art .resto-card .stars .active{
  margin: 8px 8px 8px;
  color: #f52179;
}

/*FOOTER*/
footer {
  background-color: #2c3e50;
  padding: 32px 16px;
  color: #fff;
}
.container-footer {
  display: flex;
  max-width: 1330px;
  margin: auto;
  font-family: "Raleway", sans-serif;
  gap: 16px;
}
.card-footer {
  display: flex;
  flex-direction: column;
  min-width: 30%;
}

.card-footer a {
  margin-top: 5px;
  margin-bottom: 16px;
  text-decoration: none;
  color: inherit;
}

.card-footer a:hover {
  text-decoration: underline !important;
}